/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 38px;
    height: 20px;
  
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
 
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    
    transition: .4s;
    border-radius: 30px;
    background-color: #000;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    border-radius: 20px;
    left: .3em;
    bottom: 0.23em;
    background-color: #fff;
    transition: .2s;
  }
  
  input:checked + .slider {
    border: none;
    outline: none;
  }
  
  /* input:focus + .slider {
    box-shadow: 0 0 1px #0000;
  } */
  
  input:checked + .slider:before {
    transform: translateX(.99em);
    background-color: #fff;
    outline: none;
    border: none;
  }